[Unit]
Description=Asterisk Manager Interface Socket

[Socket]
Service=asterisk.service
ListenStream=0.0.0.0:5038

[Install]
WantedBy=sockets.target
RequiredBy=asterisk.service
