#
# Sample muted configuration file
#
# Copyright (C) 2004 Digium, Inc.
#
# First you have the host, username, and password
# we use to connect to the asterisk system
#
host localhost
user user
pass pass
#
# List each channel we're supposed to watch
#
channel Zap/1
channel Zap/2
channel SIP/mark
#
# Mute level is the percentage of the current volume we should
# lower the music to.
#
mutelevel 20
#
# Smooth fade makes the fadein/fadeout nicer sounding
#
smoothfade
