attrs==21.4.0
autobahn==21.2.1
Automat==20.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
constantly==15.1.0
construct==2.10.68
cryptography==37.0.2
Cython==0.29.28
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
lxml==4.8.0
netifaces>=0.10.4
pycparser==2.21
PyYAML==6.0
PyXB==1.2.6
rawsocket==0.2
requests==2.27.1
six==1.16.0
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.1.1
urllib3==1.26.9
zope.interface==5.4.0
