[general]
enabled = yes       ; When set to no, ARI support is disabled.
;pretty = no        ; When set to yes, responses from ARI are
;                   ; formatted to be human readable.
;allowed_origins =  ; Comma separated list of allowed origins, for
;                   ; Cross-Origin Resource Sharing. May be set to * to
;                   ; allow all origins.
;auth_realm =       ; Realm to use for authentication. Defaults to Asterisk
;                   ; REST Interface.
;
; Default write timeout to set on websockets. This value may need to be adjusted
; for connections where Asterisk must write a substantial amount of data and the
; receiving clients are slow to process the received information. Value is in
; milliseconds; default is 100 ms.
;websocket_write_timeout = 100
;
; Display certain channel variables every time a channel-oriented
; event is emitted:
;
; Note that this does incur a performance penalty and should be avoided if possible.
;
;channelvars = var1,var2,var3

;[username]
;type = user        ; Specifies user configuration
;read_only = no     ; When set to yes, user is only authorized for
;                   ; read-only requests.
;
;password =         ; Crypted or plaintext password (see password_format).
;
; password_format may be set to plain (the default) or crypt. When set to crypt,
; crypt(3) is used to validate the password. A crypted password can be generated
; using mkpasswd -m sha-512.
;
; When set to plain, the password is in plaintext.
;
;password_format = plain

; Outbound Websocket Connections
;
;[connection1]                 ; The connection name
;type = outbound_websocket     ; Must be "outbound_websocket"
;connection_type = persistent  : "persistent" or "per_call_config"
                               ; Default: none
;uri = ws://localhost:8765     ; The URI needed to contact the remote server
                               ; Default: none
;apps = app1, app2             ; A comma-separated list of Stasis applications
                               ; that will be served by this connection.
                               ; No other connection may serve these apps.
                               ; Default: none
;subscribe_all = no            ; If set to "yes", the server will receive all
                               ; events just as though "subscribeAll=true" was
                               ; specified on an incoming websocket connection.
                               ; Default: no
;protocols = ari               ; The websocket protocol expected by the server.
                               ; Default: none
;username = username           ; An authentication username if required by the server.
                               ; Default: none
;password = password           ; The authentication password for the username.
                               ; Default: none
;local_ari_user = local_user   ; The name of a local ARI user defined above.
                               ; This controls whether this connection can make
                               ; read/write requests or is read-only.
                               ; Default: none
;connection_timeout = 500      ; Connection timeout in milliseconds.
                               ; Default: 500
;reconnect_interval = 1000     ; Number of milliseconds between (re)connection
                               ; attempts.
                               ; Default: 500
;reconnect_attempts = 4        ; For per_call connections, this is the number of
                               ; (re)connection attempts to make before returning an
                               ; and terminating the call.  Persistent connections
                               ; always retry forever but this setting will control
                               ; how often failure messages are logged.
                               ; Default: 4 for both connection types.
;tls_enabled = no              ; Set to "yes" to enable TLS connections.
                               ; Default: no
;ca_list_file = /etc/pki/tls/cert.pem
                               ; A file containing all CA certificates needed
                               ; for the connection.  Not needed if your server
                               ; has a certificate from a recognized CA.
                               ; Default: none
;ca_list_path = /etc/pki/ca-trust/extracted/pem/directory-hash
                               ; A directory containing individual CA certificates
                               ; as an alternative to ca_list_file.  Rarely needed.
                               ; Default: none
;cert_file = /etc/asterisk/cert.pem
                               ; If the server requires you to have a client
                               ; certificate, specify it here and if it wasn't
                               ; issued by a recognized CA, make sure the matching
                               ; CA certificate is available in ca_list_file or
                               ; ca_list_path.
                               ; Default: none
;priv_key_file = /etc/asterisk/privkey.pem
                               ; The private key for the client certificate.
;verify_server_cert = no       ; Verify that the server certificate is valid.
                               ; Default: yes
;verify_server_hostname = no   ; Verify that the hostname in the server's certificate
                               ; matches the hostname in the URI configured above.
                               ; Default: yes

