; Sample Asterisk config file for CDR logging to PostgresSQL
;
; Note that you can use TLS connections to your database server.
; This is configured for your PostgreSQL client installation
; on this system (check for pgsessions.conf)

[global]
;hostname=localhost          ; Database server hostname
;port=5432                   ; Port number for the PostgreSQL server
;dbname=asterisk             ; Database name
;user=asterisk               ; Username for the database
;password=password           ; Password for the user
;appname=asterisk            ; Optional PostgreSQL application_name (no whitespace allowed)
;table=cdr                   ; SQL table where Call Detail Records (CDRs) will be inserted
;encoding=LATIN9             ; Character encoding for logged data
;timezone=UTC                ; Uncomment to log datetime fields in UTC/GMT

