; Aastra

[aastra-check-cfg]
Event=>check-sync
Content-Length=>0

[aastra-xml]
Event=>aastra-xml
Content-Length=>0

; Linksys

[linksys-cold-restart]
Event=>reboot_now
Content-Length=>0

[linksys-warm-restart]
Event=>restart_now
Content-Length=>0

; Polycom

[polycom-check-cfg]
Event=>check-sync
Content-Length=>0

; Sipura

[sipura-check-cfg]
Event=>resync
Content-Length=>0

[sipura-get-report]
Event=>report
Content-Length=>0

; snom

[snom-check-cfg]
Event=>check-sync\;reboot=false
Content-Length=>0

[snom-reboot]
Event=>reboot
Content-Length=>0

;;
;; The following NOTIFY messages are not confirmed to work.
;;

[cisco-check-cfg]
Event=>check-sync
Content-Length=>0
