{{#api_declaration}}
/*
 * Asterisk -- An open source telephony toolkit.
 *
 * {{{copyright}}}
 *
 * {{{author}}}
 *
 * See http://www.asterisk.org for more information about
 * the Asterisk project. Please do not directly contact
 * any of the maintainers of this project for assistance;
 * the project provides a web site, mailing lists and IRC
 * channels for your use.
 *
 * This program is free software, distributed under the terms of
 * the GNU General Public License Version 2. See the LICENSE file
 * at the top of the source tree.
 */

/*! \file
 *
 * \brief {{{resource_path}}} implementation- {{{description}}}
 *
 * \author {{{author}}}
 */

#include "asterisk.h"

#include "resource_{{c_name}}.h"

{{#apis}}
{{#operations}}
{{#is_req}}
void ast_ari_{{c_name}}_{{c_nickname}}(struct ast_variable *headers,
	struct ast_ari_{{c_name}}_{{c_nickname}}_args *args,
	struct ast_ari_response *response)
{
	ast_log(LOG_ERROR, "TODO: ast_ari_{{c_name}}_{{c_nickname}}\n");
}
{{/is_req}}
{{#is_websocket}}
void ast_ari_websocket_{{c_name}}_{{c_nickname}}(struct ast_ari_websocket_session *session,
	struct ast_variable *headers,
	struct ast_ari_{{c_name}}_{{c_nickname}}_args *args)
{
	ast_log(LOG_ERROR, "TODO: ast_ari_websocket_{{c_name}}_{{c_nickname}}\n");
}
{{/is_websocket}}
{{/operations}}
{{/apis}}
{{/api_declaration}}
