---
title: Asterisk REST Data Models
---
# Asterisk REST Data Models
{{#apis}}
{{#api_declaration}}
{{#models}}
## {{id}}
{{#extends}}Base type: [{{extends}}](#{{extends_lc}}){{/extends}}
{{#has_subtypes}}Subtypes:{{#all_subtypes}} [{{id}}](#{{id_lc}}){{/all_subtypes}}{{/has_subtypes}}
### Model
``` javascript title="{{id}}" linenums="1"
{{{model_json}}}
```
### Properties
{{#properties}}
* {{name}}: {{#type}}{{#is_primitive}}{{wiki_name}}{{/is_primitive}}{{^is_primitive}}[{{wiki_name}}|#{{singular_name}}]{{/is_primitive}}{{/type}}{{^required}} _(optional)_{{/required}}{{#wiki_description}} - {{{wiki_description}}}{{/wiki_description}}
{{/properties}}

{{/models}}
{{/api_declaration}}
{{/apis}}
