; initial_silence: Maximum silence duration before the greeting.
; If exceeded then MACHINE.
; greeting: Maximum length of a greeting. If exceeded then MACHINE.
; after_greeting_silence: Silence after detecting a greeting.
; If exceeded then HUMAN
; total_analysis_time: Maximum time allowed for the algorithm to decide
; on a HUMAN or PERSON
; min_word_length: Minimum duration of Voice to considered as a word
; between_words_silence: Minimum duration of silence after a word to consider
; the audio what follows as a new word
; maximum_number_of_words: Maximum number of words in the greeting.
; If exceeded then MACHINE


[AnsweringMachineDetector]
initial_silence            = 2500
greeting                   = 1500
after_greeting_silence     = 300
total_analysis_time        = 5000
min_word_length            = 120
between_words_silence      = 50
maximum_number_of_words    = 2
silence_threshold          = 256

