[speex]
;0-10
quality => 3
;0-10
complexity => 4
; true / false
enhancement => true
; true / false
vad => false
; true / false
vbr => false
; 0 = off, otherwise, target bitrate in bps
abr => 0
;0-10
vbr_quality => 5
; true / false
dtx => false
