//
// Example AEL config file
//

macro std-exten-ael( ext , dev ) {
        Dial(${ext}/${dev},20);
        switch(${DIALSTATUS) {
        case BUSY:
                Voicemail(b${ext});
                break;
        default:
                Voicemail(u${ext});
        };
        catch a {
                VoiceMailMain(${ext});
                return;
        };
};

context ael-demo {
	s => {
		Wait(1);
		Answer();
		TIMEOUT(digit)=5;
		TIMEOUT(response)=10;
restart:
		Background(demo-congrats);
instructions:
		for (x=0; ${x} < 3; x=${x} + 1) {
			Background(demo-instruct);
			WaitExten();
		};
	};
	2 => {
		Background(demo-moreinfo);
		goto instructions;
	};
	3 => {
		LANGUAGE()=fr;
		goto restart;
	};
	500 => {
		Playback(demo-abouttotry);
		exten => 500,n,Dial(IAX2/guest@misery.digium.com)
		Playback(demo-nogo);
		goto instructions;
	};
	600 => {
		Playback(demo-echotest);
		Echo();
		Playback(demo-echodone);
		goto instructions;
	};
	_1234 => &std-exten-ael(${EXTEN});
	# => {
		Playback(demo-thanks);
		Hangup();
	};
	t => jump #;
	i => Playback(invalid);
};

