;
; Sample Parking configuration
;

[general]
parkext => 700			; What ext. to dial to park
parkpos => 701-720		; What extensions to park calls on
context => parkedcalls		; Which context parked calls are in
;parkingtime => 45		; Number of seconds a call can be parked for 
				; (default is 45 seconds)
;transferdigittimeout => 3	; Number of seconds to wait between digits when transfering a call
;courtesytone = beep		; Sound file to play to the parked caller 
				; when someone dials a parked call
;xfersound = beep		; to indicate an attended transfer is complete
;xferfailsound = beeperr	; to indicate a failed transfer
;adsipark = yes			; if you want ADSI parking announcements
;findslot => next		; Continue to the 'next' parking space. Defaults to 'first' available
;pickupexten = *8		; Configure the pickup extension.  Default is *8
;featuredigittimeout = 500	; Max time (ms) between digits for 
				; feature activation.  Default is 500


[featuremap]
;blindxfer => #1		; Blind transfer
;disconnect => *0		; Disconnect
;automon => *1			; One Touch Record
;atxfer => *2			; Attended transfer

[applicationmap]
;testfeature => #9,callee,Playback,tt-monkeys	;Play tt-monkeys to 
						;callee if #9 was pressed

