;
; Internet Phone Jack
;
; Configuration file
;
[interfaces]
;
; Select a mode, either the line jack provides dialtone, reads digits,
; then starts PBX with the given extension (dialtone mode), or 
; immediately provides the PBX without reading any digits or providing 
; any dialtone (this is the immediate mode, the default)
;
;mode=immediate
mode=dialtone
;
; List all devices we can use.
;
context=local
device=/dev/ixj0
