[general]
;debug=yes				;;Turn on debugging by default.
;autoprune=yes				;;Auto remove users from buddy list.
;autoregister=yes			;;Auto register users from buddy list. 

;[asterisk]				;;label
;type=client				;;Client or Component connection
;serverhost=astjab.org			;;Route to server for example,
					;;	talk.google.com
;username=asterisk@astjab.org/asterisk	;;username with optional roster.
;secret=blah				;;Password
;port=5222				;;Port to use defaults to 5222
;usetls=yes				;;use tls or not
;usesasl=yes				;;use sasl or not
;buddy=mogorman@astjab.org		;;manual addition of buddy to list.
