;
; Asterisk configuration file
;
; Module Loader configuration file
;
[modules]
autoload=yes
;load=pbx_gtkconsole.so
noload=pbx_gtkconsole.so
noload=pbx_kdeconsole.so
noload=app_intercom.so
;load=chan_vofr.so
;load=chan_h323.so 

