[general]
;
; Global settings for call queues
;   (none exist currently)

[default]
;
; Default settings for queues (currently unused)
;

;[markq]
;
; A sample call queue
;
; Music sets which musiconhold applies for this particular
; call queue
;
;music = default
;
; An announcement may be specified which is played for the member as
; soon as they answer a call, typically to indicate to them which queue
; this call should be answered as, so that agents or members who are
; listening to more than one queue can differentiated how they should
; engage the customer
;
;announce = queue-markq
;
; A context may be specified, in which if the user types a SINGLE
; digit extension while they are in the queue, they will be taken out
; of the queue and sent to that extension in this context.
;
;context = qoutcon
;
; How long do we let the phone ring before we consider this a timeout...
;
;timeout = 15
;
; How long do we wait before trying all the members again?
;
;retry = 5
;
; Maximum number of people waiting in the queue (0 for unlimited)
;
;maxlen = 0
;
; Each member of this call queue is listed on a separate line in
; the form technology/dialstring
;
;member => Zap/1
;member => Zap/2
;member => Agent/1001
;member => Agent/1002
