; Radio Repeater / Remote Base configuration file (for use with app_rpt)
;

;[000]					; Node ID of first repeater

;rxchannel = Zap/1			; Rx audio/signalling channel
; Note: if you use a unified interface (tx/rx on one channel), only
; specify the rxchannel and the txchannel will be assumed from the rxchannel
;txchannel = Zap/2			; Tx audio/signalling channel
;tonezone = us				; use US tones (default)
;simple = no				; Not in "simple" mode
;context = default			; dialing context for phone
;callerid = "WB6NIL Repeater" <(559) 692-1234>  ; Callerid for phone calls
;idrecording = wb6nil			; id recording
;accountcode=RADIO			; account code (optional)
;hangtime=1000				; squelch tail hang time (in ms) (optional)
;totime=100000				; transmit time-out time (in ms) (optional)
;idtime=30000				; id interval time (in ms) (optional)
politeid=30000				; time in milliseconds before ID timer
					; expires to try and ID in the tail.
					; (optional, default is 30000).

; The default values for hangtime, time-out time, and id interval time are
; 5 seconds (5000 ms),  3 minutes (180000 ms), and 5 minutes (300000 ms)
; respectively

;[001]					; Node ID of second repeater

;rxchannel = Zap/3			; Rx audio/signalling channel
; Note: if you use a unified interface (tx/rx on one channel), only
; specify the rxchannel and the txchannel will be assumed from the rxchannel
;txchannel = Zap/4			; Tx audio/signalling channel
;tonezone = us				; use US tones (default)
;simple = no				; Not in "simple" mode
;context = default			; dialing context for phone
;callerid = "WB6NIL Repeater" <(559) 692-1234>  ; Callerid for phone calls
;idrecording = wb6nil			; id recording
;accountcode=RADIO			; account code (optional)
;hangtime=1000				; squelch tail hang time (in ms) (optional)
;totime=100000				; transmit time-out time (in ms) (optional)
;idtime=30000				; id interval time (in ms) (optional)

;[002]					; Node ID of remote base

;rxchannel = Zap/5			; Rx audio/signalling channel
; Note: if you use a unified interface (tx/rx on one channel), only
; specify the rxchannel and the txchannel will be assumed from the rxchannel
;txchannel = Zap/6			; Tx audio/signalling channel
;remote = yes
;iobase = 0x378				; Specify IO port for parallel port (optional)

[nodes]

000 = context_A@1.2.3.4/1234
001 = context_B@5.6.7.8/4321

;of course, you can also specify these with domain names, but why rely
;on DNS working unnecessarily?

[memory]

; this example gives you 146.460, simplex, 100.0 HZ PL, hi-power, transmit PL
00 = 146.460,100.0,sht
; this example gives you 146.940, minus offset, 100.0 HZ PL, low-power, no PL
01 = 146.940,100.0,-l

; The format for these entries is:  Receive-Freq,Receive-PL,Attrbutes
;     Attributes: l=low power, m=medium power, h=high power, -=minus offset,
;	s=simplex, +=plus offset, t=tx PL enable, r=rx PL enable


