; Configuration for the rtppage() application 
; that sends audio in multicast or unicast mode to phones
; for paging

[general]
ttl=10
tos=ef

[testgroup]
type=basic
rtp_address=192.168.83.147
rtp_port=12346

[linksysgroup]
type=linksys
rtp_address=224.168.168.168
rtp_port=34567
control_address=224.168.168.168
control_port=6061

