;
; SIP Configuration for Asterisk
;
[general]
port = 5060			; Port to bind to
bindaddr = 0.0.0.0		; Address to bind to
;externip = 200.201.202.203	; Address that we're going to put in SIP messages if we're behind a NAT
;localnet = 192.168.1.0         ; Internal NETWORK address
;localmask = 255.255.255.0      ; Internal netmask
context = default		; Default for incoming calls
;srvlookup = yes		; Enable SRV lookups on outbound calls
;pedantic = yes			; Enable slow, pedantic checking for Pingtel
;tos=lowdelay
;tos=184
;maxexpirey=3600		; Max length of incoming registration we allow
;defaultexpirey=120		; Default length of incoming/outoing registration
;notifymimetype=text/plain	; Allow overriding of mime type in NOTIFY
;videosupport=yes		; Turn on support for SIP video
;disallow=all			; Disallow all codecs
;allow=ulaw			; Allow codecs in order of preference
;allow=ilbc
;
;register => 1234@mysipprovider.com	; Register with a SIP provider
;register => 2345@mysipprovider.com/1234 ; Register 2345 at sip provider as 1234 here.
;
;[snomsip]
;type=friend
;secret=blah
;host=dynamic
;dtmfmode=inband		; Choices are inband, rfc2833, or info
;defaultip=192.168.0.59
;mailbox=1234,2345		; Mailbox for message waiting indicator
;restrictcid=yes		; To have the callerid restriced -> sent as ANI

;[pingtel]
;type=friend
;username=pingtel
;secret=blah
;host=dynamic
;qualify=1000			; Consider it down if it's 1 second to reply
;callgroup=1,3-4
;pickupgroup=1,3-4
;defaultip=192.168.0.60

;[cisco]
;type=friend
;username=cisco
;secret=blah
;nat=yes			; This phone may be natted
;host=dynamic
;canreinvite=no			; Cisco poops on reinvite sometimes
;qualify=200			; Qualify peer is no more than 200ms away
;defaultip=192.168.0.4

;[cisco1]
;type=friend
;username=cisco1
;fromuser=markster		; Specify user to put in "from" instead of callerid
;secret=blah
;host=dynamic
;defaultip=192.168.0.4
;amaflags=default		; Choices are default, omit, billing, documentation
;accountcode=markster		; Users may be associated with an accountcode tp ease billing
