[polycom-check-cfg]
Event=>check-sync

; Untested
[sipura-check-cfg]
Event=>resync

; Untested
[grandstream-check-cfg]
Event=>sys-control

; Untested
[cisco-check-cfg]
Event=>check-sync

; Tested
[snom-check-cfg]
Event=>check-sync\;reboot=false
