;
; Skinny Configuration for Asterisk
;
[general]
bindaddr=0.0.0.0	; Address to bind to
bindport=2000		; Port to bind to, default tcp/2000
dateformat=M-D-Y	; M,D,Y in any order (6 chars max)
			; "A" may also be used, but it must be at the end.
			; Use M for month, D for day, Y for year, A for 12-hour time.
keepalive=120

;authtimeout = 30       ; authtimeout specifies the maximum number of seconds a
			; client has to authenticate.  If the client does not
			; authenticate beofre this timeout expires, the client
                        ; will be disconnected.  (default: 30 seconds)

;authlimit = 50         ; authlimit specifies the maximum number of
			; unauthenticated sessions that will be allowed to
                        ; connect at any given time. (default: 50)

;allow=all		; see doc/rtp-packetization for framing options
;disallow=

;------------------------------ JITTER BUFFER CONFIGURATION --------------------------
;jbenable = yes              ; Enables the use of a jitterbuffer on the receiving side of a
                             ; skinny channel. Defaults to "no". An enabled jitterbuffer will
                             ; be used only if the sending side can create and the receiving
                             ; side can not accept jitter. The skinny channel can accept
                             ; jitter, thus a jitterbuffer on the receive skinny side will be
                             ; used only if it is forced and enabled.

;jbforce = no                ; Forces the use of a jitterbuffer on the receive side of a skinny
                             ; channel. Defaults to "no".

;jbmaxsize = 200             ; Max length of the jitterbuffer in milliseconds.

;jbresyncthreshold = 1000    ; Jump in the frame timestamps over which the jitterbuffer is
                             ; resynchronized. Useful to improve the quality of the voice, with
                             ; big jumps in/broken timestamps, usually sent from exotic devices
                             ; and programs. Defaults to 1000.

;jbimpl = fixed              ; Jitterbuffer implementation, used on the receiving side of a
                             ; skinny channel. Two implementations are currently available
                             ; - "fixed" (with size always equals to jbmaxsize)
                             ; - "adaptive" (with variable size, actually the new jb of IAX2).
                             ; Defaults to fixed.

;jblog = no                  ; Enables jitterbuffer frame logging. Defaults to "no".
;-----------------------------------------------------------------------------------

;----------------------------------- DEVICE OPTIONS --------------------------------
;earlyrtp=1                  ; whether audio signalling should be provided by asterisk
                             ; (earlyrtp=1) or device generated (earlyrtp=0). 
                             ; defaults to earlyrtp=1
;-----------------------------------------------------------------------------------

; Typical config for 12SP+
;[florian]
;device=SEP00D0BA847E6B
;version=P002G204	; Thanks critch
;context=did
;line => 120		; Dial(Skinny/120@florian)


; Typical config for a 7910
;[duba]			; Device name
;device=SEP0007EB463101	; Official identifier
;version=P002F202	; Firmware version identifier
;host=192.168.1.144
;permit=192.168.0/24	; Optional, used for authentication
;nat=yes
;callerid="George W. Bush" <202-456-1414>
;mailbox=500
;callwaiting=yes
;transfer=yes
;threewaycalling=yes
;context=default
;line => 500		; Dial(Skinny/500@duba)
;mohinterpret=default	; This option specifies a default music on hold class to
			; use when put on hold if the channel's moh class was not
			; explicitly set with Set(CHANNEL(musicclass)=whatever) and
			; the peer channel did not suggest a class to use.
;mohsuggest=default	; This option specifies which music on hold class to suggest to the peer channel
			; when this channel places the peer on hold. It may be specified globally or on
			; a per-user or per-peer basis.

; Typical config for a 7940 with dual 7914s
;[support]
;device=SEP0007EB463121
;nat=yes
;callerid="Customer Support" <810-234-1212>
;mailbox=100
;context=inbound
;linelabel="Support Line"	; Displays next to the line 
				; button on 7940's and 7960s
;line => 100
;callerid="John Chambers" <408-526-4000>
;context=did
;linelabel="John"
;mailbox=110
;line => 110
;speeddial => 111,Jack Smith
;speeddial => 112,Bob Peterson
;addon => 7914
;addon => 7914
