[general]
enabled = yes		; When set to no, stasis-http support is disabled
;pretty = no		; When set to yes, responses from stasis-http are
;			; formatted to be human readable
;allowed_origins =	; Comma separated list of allowed origins, for
;			; Cross-Origin Resource Sharing. May be set to * to allow
;			; all origins.

;[user-username]
;read_only = no		; When set to yes, user is only authorized for
;			; read-only requests
;
; If a password is specified, user must authenticate using HTTP Basic
; authentication. If no password is specified, then the user may authenticate
; simply by adding ?api_key=username to their requests.
;
;password =		; Crypted or plaintext password (see crypt_password)
;
; crypt_password may be set to crypt (the default) or plain. When set to crypt,
; crypt(3) is used to encrypt the password. A crypted password can be generated
; using mkpasswd -m sha-512.
;
; When set to plain, the password is in plaintext
;
;crypt_password = plain
