;
; User configuration
;
; Creating entries in users.conf is a "shorthand" for creating individual
; entries in each configuration file.  Using users.conf is not intended to 
; provide you with as much flexibility as using the separate configuration
; files (e.g. sip.conf, iax.conf, etc) but is intended to accelerate the
; simple task of adding users.  Note that creating individual items (e.g.
; custom SIP peers, IAX friends, etc.) will allow you to override specific 
; parameters within this file.
;

[general]
fullname = New User
userbase = 6000
hasvoicemail = yes
hassip = yes
hasiax = yes
hasmanager = no
callwaiting = yes
threewaycalling = yes
callwaitingcallerid = yes
transfer = yes
canpark = yes
cancallforward = yes
callreturn = yes
callgroup = 1
pickupgroup = 1


;[6000]
;fullname = Joe User
;email = joe@foo.bar
;secret = 1234
;zapchan = 1
;hasvoicemail = yes
;hassip = yes
;hasiax = no
;hasmanager = no
;callwaiting = no
;context = international
