;
; Zapata telephony interface
;
; Configuration file

[channels]
;
; Default language
;
;language=en
;
; Default context
;
context=default
;
; Switchtype:  Only used for PRI.
;
; national:	  National ISDN
; dms100:	  Nortel DMS100
; 4ess:           AT&T 4ESS
; 5ess:	          Lucent 5ESS
; euroisdn:       EuroISDN
;
switchtype=national
;
; Signalling method (default is fxs).  Valid values:
; em:     E & M
; em_w:   E & M Wink
; featd:  Feature Group D (The fake, Adtran style)
; fxs_ls: FXS (Loop Start)
; fxs_gs: FXS (Ground Start)
; fxs_ks: FXS (Kewl Start)
; fxo_ls: FXO (Loop Start)
; fxo_gs: FXO (Ground Start)
; fxo_ks: FXO (Kewl Start)
; pri_cpe: PRI signalling, CPE side
; pri_net: PRI signalling, Network side
;
signalling=fxo_ls
;
; A variety of timing parameters can be specified as well
; Including:
;    prewink:     Pre-wink time
;    preflash:    Pre-flash time
;    wink:        Wink time
;    flash:       Flash time
;    start:       Start time
;    rxwink:      Receiver wink time
;    rxflash:     Receiver flashtime
;    debounce:    Debounce timing
;
rxwink=300		; Atlas seems to use long (250ms) winks
;
; Whether or not to use caller ID
;
usecallerid=yes
;
; Whether or not to hide outgoing caller ID (Override with *67 or *82)
;
hidecallerid=no
;
; Whether or not to enable call waiting on FXO lines
;
callwaiting=yes
;
; Support Caller*ID on Call Waiting
;
callwaitingcallerid=yes
;
; Support three-way calling
;
threewaycalling=yes
;
; Support flash-hook call transfer (requires three way calling)
;
transfer=yes
;
; Support call forward variable
;
cancallforward=yes
;
; Stutter dialtone support: If a mailbox is specified, then when voicemail
; is received in that mailbox, taking the phone off hook will cause
; a stutter dialtone instead of a normal one
;
;mailbox=1234
;
; Enable echo cancellation 
; Use either "yes", "no", or a power of two from 32 to 256 if you wish
; to actually set the number of taps of cancellation.
;
echocancel=yes
;
; You may also set the default receive and transmit gains (in dB)
;
rxgain=0.0
txgain=0.0
;
; Logical groups can be assigned to allow outgoing rollover.  Groups
; range from 0 to 31, and multiple groups can be specified.
;
group=1
;
; Specify whether the channel should be answered immediately or
; if the simple switch should provide dialtone, read digits, etc.
;
immediate=no
;
; CallerID can be set to "asreceived" or a specific number
; if you want to override it.  Note that "asreceived" only
; applies to trunk interfaces.
;
;callerid=2564286000
;
; AMA flags affects the recording of Call Detail Records.  If specified
; it may be 'default', 'omit', 'billing', or 'documentation'.
;
;amaflags=default
;
; Channels may be associated with an account code to ease
; billing
;
;accountcode=lss0101
;
; ADSI (Analog Display Services Interface) can be enabled on a per-channel
; basis if you have (or may have) ADSI compatible CPE equipment
;
;adsi=yes
;
; Each channel consists of the channel number or range.  It
; inherits the parameters that were specified above its declaration
;
;callerid="Green Phone"<(256) 428-6121>
;channel => 1
;callerid="Black Phone"<(256) 428-6122>
;channel => 2
;callerid="CallerID Phone" <(256) 428-6123>
;callerid="CallerID Phone" <(630) 372-1564>
;callerid="CallerID Phone" <(256) 704-4666>
;channel => 3
;callerid="Pac Tel Phone" <(256) 428-6124>
;channel => 4
;callerid="Uniden Dead" <(256) 428-6125>
;channel => 5
;callerid="Cortelco 2500" <(256) 428-6126>
;channel => 6
;callerid="Main TA 750" <(256) 428-6127>
;channel => 44
;
; For example, maybe we have some other channels
; which start out in a different context and use
; E & M signalling instead.
;
;context=remote
;sigalling=em
;channel => 15
;channel => 16

;signalling=em_w
;
; All those in group 0 I'll use for outgoing calls
;
; Strip most significant digit (9) before sending
;
stripmsd=1
;callerid=asreceived
;group=0
;signalling=fxs_ls
;channel => 45

;signalling=fxo_ls
;group=1
;callerid="Joe Schmoe" <(256) 428-6131>
;channel => 25
;callerid="Megan May" <(256) 428-6132>
;channel => 26
;callerid="Suzy Queue" <(256) 428-6233>
;channel => 27
;callerid="Larry Moe" <(256) 428-6234>
;channel => 28
;
; Sample PRI (CPE) config:  Specify the switchtype, the signalling as
; either pri_cpe or pri_net for CPE or Network termination, and generally
; you will want to create a single "group" for all channels of the PRI.
;
; switchtype = national
; signalling = pri_cpe
; group = 2
; channel => 1-23
