;
; cdr_odbc.conf
;

;[global]
;dsn=MySQL-test
;username=username
;password=password
;loguniqueid=yes
;dispositionstring=yes
;table=cdr		;"cdr" is default table name
;usegmtime=no             ; set to "yes" to log in GMT
