;;; odbc setup file 

; ENV is a global set of environmental variables that will get set.
; Note that all environmental variables can be seen by all connections,
; so you can't have different values for different connections.
[ENV]
INFORMIXSERVER => my_special_database
INFORMIXDIR => /opt/informix

; All other sections are arbitrary names for database connections.

[asterisk]
enabled => no
dsn => asterisk
;username => myuser
;password => mypass
pre-connect => yes


[mysql2]
enabled => no
dsn => MySQL-asterisk
username => myuser
password => mypass
pre-connect => yes
;
; On some databases, the connection times out and a reconnection will be
; necessary.  This setting configures the amount of time a connection
; may sit idle (in seconds) before a reconnection will be attempted.
;idlecheck => 3600

; Certain servers, such as MS SQL Server and Sybase use the TDS protocol, which
; limits the number of active queries per connection to 1.  By setting up pools
; of connections, Asterisk can be made to work with these servers.
[sqlserver]
enabled => no
dsn => mickeysoft
pooling => yes
limit => 5
username => oscar
password => thegrouch
pre-connect => yes
; Many databases have a default of '\' to escape special characters.  MS SQL
; Server does not.
backslash_is_escape => no




